[Unit]
Description=Copy EFISTUB Linux-ARCH to UEFISYS Partition
# Requires=boot-efi.mount

[Service]
Type=oneshot

ExecStart=/usr/bin/cp -f /boot/vmlinuz-linux /boot/efi/EFI/NAMEDIRARCHLINUX/vmlinuz-NAMEDIRARCHLINUX.efi
ExecStart=/usr/bin/cp -f /boot/initramfs-linux.img /boot/efi/EFI/NAMEDIRARCHLINUX/initramfs-NAMEDIRARCHLINUX.img
ExecStart=/usr/bin/cp -f /boot/initramfs-linux-fallback.img /boot/efi/EFI/NAMEDIRARCHLINUX/initramfs-NAMEDIRARCHLINUX-fallback.img
