[Unit]
Description=Copy Microcode intel-ucode to UEFISYS Partition

[Service]
Type=oneshot

ExecStart=/usr/bin/cp -f /boot/intel-ucode.img /boot/efi/EFI/NAMEDIRARCHLINUX/intel-ucode.img
ExecStart=/usr/bin/cp -f /boot/intel-ucode.img /boot/efi/EFI/NAMEDIRARCHLINUX_ck/intel-ucode.img
