[Unit]
Description=Copy rEFInd files to UEFISYS Partition
# Requires=boot-efi.mount

[Service]
Type=oneshot

ExecStart=/usr/bin/cp -f /usr/share/refind/refind_x64.efi /boot/efi/EFI/boot/bootx64.efi

#ExecStart=/usr/bin/cp -f /home/USERNAME/09-Fichiers-Conf/Refind-Fichiers-Conf/refind.conf /boot/efi/EFI/boot/refind.conf

#ExecStart=/usr/bin/cp -f /home/USERNAME/09-Fichiers-Conf/Refind-Fichiers-Conf/refind_linux.conf /boot/efi/EFI/NAMEDIRARCHLINUX/refind_linux.conf
#ExecStart=/usr/bin/cp -f /home/USERNAME/09-Fichiers-Conf/Refind-Fichiers-Conf/refind_linux.conf /boot/efi/EFI/archck/refind_linux.conf
